* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

/* Animations */
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes logo-open {
  0% {
    background-size: 100%;
  }

  100% {
    background-size: 70%;
  }
}

@keyframes logo-to-top {
  0% {
    background-position: center center;
    background-size: 70%;
  }

  100% {
    background-position: center -70px;
    background-size: 30%;
  }
}

body {
  background-color: black;
}

.container {
  width: 100vw;
  height: 100vh;
}

.background {
  width: 100%;
  height: 100%;
  background-image: url("img/background.png");
  background-size: cover;
  opacity: 0;
  animation: fade-in 2s linear 2s forwards;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("img/logo-1.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center center;
  animation: logo-open 4s linear, logo-to-top 0.5s linear 6s forwards;
}

.main-section {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;
  opacity: 0;
  animation: fade-in 1s linear 6s forwards;
}

.batch-photo {
  width: 510px;
  height: 340px;
  margin-top: 25px;
  outline: 5px solid white;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-image: url("img/batch-photo-21-22.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}

.placeholder{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 80%;
}

.placeholder p{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.btn {
  padding: 15px 80px;
  font-size: large;
  font-weight: bold;
  border-radius: 10px;
  border: none;
}

.btn:hover {
  background-color: antiquewhite;
}

.credits {
  width: 400px;
  height: 100px;
  background-image: url("img/credit.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center center;
}

@media (max-width: 435px) {
  /* Animations */
  @keyframes logo-open-mobile {
    0% {
      background-size: 140%;
    }

    100% {
      background-size: 90%;
    }
  }

  @keyframes logo-to-top-mobile {
    0% {
      background-position: center center;
    }

    100% {
      background-position: center -50px;
    }
  }

  .background {
    background-size: cover;
    background-position: right bottom;
  }
  .logo {
    background-size: 90%;
    background-position: center center;
    animation: logo-open-mobile 4s linear, logo-to-top-mobile 0.5s linear 5s forwards;
    /* animation: logo-open-mobile 4s linear logo-to-top-mobile 0.5s linear 6s forwards; */
  }
  .main-section {
  }
  .batch-photo {
    width: 350px;
    height: 196px;
  }
  .btn {
  }

  .credits {
    width: 100%;
  }
}
